# Dependency directories
node_modules/

# Build output
build/
dist/
release/
emsdk-cache/

# Logs
logs
*.log

# Caches
.eslintcache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.*

# emcc output, rebuilt by scripts/build.sh
src/wasm/
